*{
    margin: 0;
    padding: 0;
}
.cabecalho{

    background-color: #898989;
    color: rgb(0, 0, 0);
    font-size: 36px;
    display: flex;
    justify-content: baseline;

}
.imagem-cabecalho{

    width: 8%;
    height: 8%;

}
.titulo-cabecalho{

margin: 50px 600px;
display: inline-block;

}
